{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/lab4_form.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Create Note</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" style="font-family:'Noto Sans', sans-serif;">Lab 4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link"  href={% url 'index_lab4' %}  style="font-family:'Noto Sans', sans-serif;">Table View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'note-list' %} style="font-family:'Noto Sans', sans-serif;">Card View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'add-note' %} style="font-family:'Noto Sans', sans-serif;">Add Note</a>
          </li>
        </ul>
      </div>
    </nav>
      <div class="tengah">
          <center>
              <h1 style="color:white; font-size: 500%; font-family: 'Noto Sans', sans-serif; margin-bottom: 2%;">Tulis pesan untuk temanmu yuk!</h1>
              <form method="post" action="">
                  {% csrf_token %}
                  <h3 style="color:white; font-size: 200%; font-family: 'Noto Sans', sans-serif; margin-bottom: 1%;">To: </h3>
                  {{ form.to }}
                  <br>
                  <h3 style="color:white; font-size: 200%; font-family: 'Noto Sans', sans-serif; margin-bottom: 1%; margin-top: 1%;">From: </h3>
                  {{ form.From }}
                  <br>
                  <h3 style="color:white; font-size: 200%; font-family: 'Noto Sans', sans-serif; margin-bottom: 1%; margin-top: 1%;">Title: </h3>
                  {{ form.title }}
                  <br>
                  <h3 style="color:white; font-size: 200%; font-family: 'Noto Sans', sans-serif; margin-bottom: 1%; margin-top: 1%;">Message: </h3>
                  {{ form.message }}
                  <br>
                  <button type="submit;" style="font-family: 'Noto Sans', sans-serif; margin-top: 5%; width: 25%; background-color: whitesmoke; margin-top: 1%;">Submit</button>
                </form>
            </center>
        </div>
  </body>
</html>