<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    td, th {
   border: 0.88px solid;
   text-align: justify;
   padding: 11.8px;
   border-color: rgb(255, 0, 117);
   background-color: rgb(255, 222, 250);
}
  </style>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for i in besties %}
      <tr>
        <td>{{ i.name }} </td>
        <td>{{ i.npm }}</td>
        <td>{{ i.dob }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>