body {
background-image: url("background3.jpg");
background-position: center;
background-repeat: repeat-y;
background-size:cover;
}

.tengah {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}
td, th {
    border: 0.88px solid;
   text-align: justify;
   padding: 11.8px;
   border-color: white;
   background-color: black;
}