body {
background-image: url("background3.jpg");
background-position: center;
background-repeat: repeat-y;
background-size:cover;
}
    
.tengah {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}
